@media (max-width: 800px) {
  button {
    border-width: 0;
  }

  .header button {
    display: block;
    background-color: transparent;
  }

  body {
    letter-spacing: 0;
  }

  h2 {
    font-size: 27px;
  }

  a {
    font-size: 16px;
  }

  .header ul {
    display: none;
    background-color: rgba(161, 161, 161, 1);
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 30px;
    z-index: 5;
    padding-left: 0px;
  }

  .header h3 {
    font-size: 20px;
  }

  .background {
    background-position: left;
    z-index: 1;
  }

  .right-floating-div-box {
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .right-floating-div-box h1 {
    font-size: 30px;
  }

  .right-floating-div-box p {
    font-size: 15px;
  }

  .right-floating-div-box button {
    z-index: 2;
  }

  #section2 {
    height: 100%;
  }

  .about-me-wrapper {
    flex-direction: column;
    margin-left: 10px;
  }

  .about-me {
    margin-left: auto;
    margin-right: auto;
  }

  .about-me p {
    font-size: 15px;
  }

  .skills {
    text-align: center;
  }

  .skills h3 {
    font-size: 20px;
  }

  #section3 {
    height: 100%;
  }

  #section3 header {
    margin-top: 30px;
  }

  .project-wrapper {
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    align-items: center;
  }

  .project {
    width: 100%;
    margin: 15px;
  }

  .project h3 {
    font-size: 18px;
  }

  .project img {
    height: 125px;
    width: 125px;
  }

  footer p {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 15px;
  }

  footer span {
    bottom: 0;
    padding-left: 10px;
  }
}
