body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  letter-spacing: 0.5px;
}

html {
  scroll-behavior: smooth;
}

section {
  height: 100vh;
}

button {
  cursor: pointer;
  padding: 10px 40px 10px 40px;
  background-color: #878686;
  transition: 0.3s;
}

button:hover {
  background-color: rgba(32, 31, 27, 0.4);
}

a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

h2 {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

.underline {
  height: 1px;
  width: 200px;
  background-color: #808080;
  margin: 2rem;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.header ul {
  display: none;
  background-color: #0c0c0cd5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  width: 35%;
  height: 100%;
  list-style: none;
  margin: 0;
}

.header a {
  padding: 1rem;
  color: #fff;
  display: block;
}

.header a:hover {
  text-decoration: underline;
}

.background button {
  padding: 2rem;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  z-index: 10;
}

.background button:hover {
  padding: 1rem;
}

.background {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url(./slike/code1.jpg);
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 6em;
  color: rgb(255, 255, 255);
}

.background h2 {
  color: #fff;
  text-align: left;
}

.shadow {
  height: 100%;
  width: 100%;
  background: #010101cf;
}

.floating-div-box {
  position: absolute;
  left: 2%;
  top: 20%;
  right: auto;
  bottom: auto;
  max-width: 50%;
  margin-left: 0;
  padding: 1rem 2rem;
  background-color: #0c0c0cd7;
}

.floating-div-box p {
  font-size: 1.2rem;
  color: #fff;
}

/***** ABOUT ME ****/

#section2 {
  background-color: #131313ed;
}

#section2 h2 {
  font-size: 6rem;
  font-weight: 400;
  padding: 2rem;
  text-align: left;
  color: #fff;
}

.about-me-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
}

.about-me-wrapper img {
  padding: 1rem;
  border-radius: 50%;
}

.about-me {
  max-width: 60%;
  color: #fff;
  padding: 1rem;
}

.about-me p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.about-me ul {
  padding-top: 3rem;
  list-style: none;
}

.about-me ul li {
  padding: 0.7rem;
}

/**** PROJECT SECTION ****/

#section3 {
  background-color: #121212d8;
}

#section3 h2 {
  font-size: 3rem;
  font-weight: 400;
  padding: 2rem;
  color: #fff;
}

#section3 .underline {
  margin: auto;
}

.project-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}

.project {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.project p {
  text-align: center;
}

.project h3 {
  font-size: 2rem;
}

.project img {
  width: 15rem;
}

/*****  CONTACT *****/

#section4 {
  background-color: #131313;
  color: white;
}

#section4 h2 {
  font-size: 3rem;
  font-weight: 400;
  padding: 2rem;
  color: #fff;
}

#section4 .underline {
  margin: auto;
}

#section4 h3 {
  text-align: center;
  font-weight: 300;
  font-style: italic;
  line-height: 1.8;
  padding: 2rem 1rem;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 0;
}

.contacts a {
  color: #fff;
  border: 3px solid #fff;
  padding: 0.8rem;
  font-size: 1.2rem;
  transition: all 0.5s ease-out;
}

.contacts a:hover {
  background: #878686;
  color: #1b1a19;
  border: 3px solid #1b1a19;
}

/* form email */

form {
  width: 30rem;
  margin: auto;
  padding-bottom: 3rem;
}
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
form label,
form legend {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
}
/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
  color: black;
}
form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
form [type="text"],
form [type="email"],
.StripeElement {
  width: 100%;
}
form [type="button"],
form [type="submit"],
form [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
  outline: none;
}

form select {
  text-transform: none;
}

/***** FOOTER *******/

footer {
  background-color: #0c0c0c;
  color: white;
  padding-bottom: 1rem;
}

footer span a {
  color: white;
  font-size: 1rem;
  padding-left: 1rem;
  text-decoration: underline;
}

footer p {
  text-align: center;
  margin: 0;
  font-family: Lora;
  font-style: italic;
}

/**** MEDIA QUERIES  *****/

@media screen and (max-width: 800px) {
  body {
    letter-spacing: 0;
  }

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  a {
    font-size: 1rem;
  }

  .header ul {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    padding-left: 0px;
  }

  .floating-div-box {
    max-width: 55%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .floating-div-box p {
    font-size: 1rem;
    padding-top: 3rem;
  }

  .floating-div-box h2 {
    text-align: center;
  }

  .floating-div-box button {
    z-index: 2;
  }

  #section2 {
    height: 100%;
  }

  #section2 h2 {
    font-size: 3rem;
    text-align: center;
  }

  #section2 .underline {
    margin: auto;
  }

  .about-me-wrapper {
    flex-direction: column;
    margin-left: 1rem;
  }

  .about-me {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }

  .about-me p {
    font-size: 1rem;
  }

  .skills {
    text-align: center;
  }

  .skills h3 {
    font-size: 1.5rem;
  }

  #section3 {
    height: auto;
  }

  .project-wrapper {
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
  }

  .project {
    width: 100%;
    margin: 1rem;
    padding-bottom: 1rem;
  }

  #section4 {
    padding-top: 1em;
    padding-bottom: 2em;
  }

  #section4 h3 {
    font-size: 1rem;
  }

  form {
    width: 70%;
    padding-top: 3em;
    margin: 0 auto;
    text-align: left;
  }

  footer {
    text-align: center;
    display: block;
    padding-top: 2rem;
    resize: vertical;
  }

  footer p {
    padding-top: 1rem;
  }

  footer span {
    text-align: center;
  }
}

@media screen and (max-width: 485px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .floating-div-box {
    top: 20%;
    bottom: 25%;
  }
  .floating-div-box p {
    padding-top: 3rem;
  }

  #section2 h2,
  #section3 h2,
  #section4 h2 {
    font-size: 2rem;
  }

  .underline {
    width: 100px;
  }

  .about-me-wrapper img {
    width: 60%;
  }

  .project img {
    width: 10rem;
  }

  .contacts {
    justify-content: space-around;
    padding: 1rem;
  }

  .contacts a {
    padding: 0.5rem;
  }
}
